#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages
* List common libraries in data science
* Show basic calculations

## Author
Yijia ZENG

Some of the popular languages that Data Scientists use are:
 1. R
 2. Python
 3. Scala

Some of the commonly used libraries used by Data Scientists include
1. pandas
2. numpy
3. scikit-learn
4. keras

|Data Science Tools|
|---|
|Python|
|SQL|
|cloud|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335